# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GITHUBREPOS\python-adventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
